* {
	box-sizing: border-box;
}

body {
	background: #ffc2ab;
}
.top-nav {
	background: #FCDDBC;
}
.brand-link {
	color: #69585F;
	text-decoration: none;
}
.navbar {
	display: flex;
	font-size: 30px;
	padding: 5px 20px;
	color: #69585F;
}
.nav-toggle {
	margin-left: auto;
	cursor: pointer;
}
.nav-list-collapsed {
	display: none;
}
.nav-list {
	list-style: none;
}
.nav-list a{
	text-decoration: none;
	color: #69585F;
	}
